.author_search-input {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 50%;
    margin: 10px auto;
}

.author_search{
    display: flex;
    align-items: center;
    padding: 0 30px;
}

.author-item {
     border-top: 1px solid var(--color-border);
    background-color: var(--color-base);
    margin: 0 auto;
    width: 500px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: column;
    padding: 10px;
}

.author-search-input {
    margin: auto;
    padding: 12px 70px;
    border-radius: 40px;
    outline: none;
    position: relative;
    background-color: #efefef;
    font-weight: 400;
    font-size: 18px;
    background-size: 21px;
    background-repeat: no-repeat;
    background-position: center left;
    background-position: 10px;
    color: gray;
    border: 4px solid transparent;
}

.author-search-input:hover {
    background-color: rgba(242, 250, 253, 0.968);
    transition-duration: 0.3s;
}

.author-search-input:focus {
    border: 4px solid #6ab4fe;
    padding: 12px 20px;
    background-image: none;
}

.author-search-input::placeholder {
    user-select: none;
}

.author-container {
    height: 100vh;
}

.author__info {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: column;
}

.author__info span {
font-weight: bold;
color: var(--color-accent);
}