.lightMode {
    background-color: var(--color-background);
    color: var(--color-text-default);
    border: var(--color-border);

}

.darkMode {
    background-color: var(--color-background-dark);
    color: var(--color-text-default-dark);
    border: var(--color-border-dark);
}