
.book-list__container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 30px;
  /* margin: 30px; */
  justify-items: center;
  background-color: rgba(0, 0, 0, 0.2);
}

.book__item {
  border: 1px solid var(--color-border);
  border-radius: 10px;
  padding: 10px;
  width: 300px;
  height: 450px;
  cursor: pointer;
}

.book__item:hover {
  background-color: var(--main-color);
  cursor: pointer;
}

.book__title {
  font-weight: bold;
  margin-bottom: 10px;
}

.book__title-title {
  font-size: 16px;
}

.book__title-author {
  font-size: 14px;
  color: var(--color-accent);
}

.book__cover img {
  width: 180px;
  height: 270px;
  margin: auto;
}

.book__info {
  margin-top: 10px;
  font-size: 14px;
  color: var(--color-accent-dark);
}




/* .book-list-container {
  width: 100%;
    height: 500px;
    display: flex;
    position: relative;
    overflow-x: hidden;
    margin-bottom: 60px;
    background-color: white;
    padding: 10px 20px 20px 20px;
}
 */





/* .modal {
    width: 100vw;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.2);
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    opacity: 0;
    pointer-events: none;
    -webkit-transition: 0.5s;
    transition: 0.5s;
  }
  
  .modal .modal__content {
    background-color: var(--color-primary);
    min-width: 70vw;
    height: 70vh;
    border-radius: 10px;
    padding-left: 1.5rem;
    padding-right: 1.5rem;
    padding-top: 1.25rem;
  }
  
  .modal .modal__cover {
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
    border-radius: 5px;
  }
  
  .modal .modal__image {
    border-radius: 5px;
    width: 200px;
  }
  
  .modal .modal__info p {
    margin-bottom: 0.25rem;
  }
  
  .modal .modal__book-title {
    color: var(--color-text-title);
    font-size: 1.125rem;
    margin-bottom: 0.25rem;
  }
  
  .modal .modal__book-info {
    color: var(--color-text-main);
  }
  
  .modal.active {
    opacity: 1;
    pointer-events: all;
  }
  
  @media (min-width: 900px) {
    .modal__content {
      min-width: 50vw;
    }
  } */