.header-top {
    padding: 0 30px;
    height: 20%;
    border-bottom: 1px solid var(--main-color);
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.header-top h1 {
    font-size: 27px;
    width: 300px;
    font-weight: 500;
}


.header-icons {
    display: flex;
    color: var(--main-color);
}

.header-login {
    font-size: 27px;
    font-weight: 500;
}

.header-middle {
    display: flex;
    align-items: center;
    /* justify-content: space-between; */
    padding: 0 30px;
    height: 50%;
    border-bottom: 1px solid var(--main-color);
}



/* NAVBAR */

  .navbar {
    /* background-color: var(--main-color); */
    box-shadow:  0 0 1px 1px gray;
    height: 30%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.navbar-links{
    display: flex;
    align-items: center;
    height: 100%;
}

.navbar-link {
    padding: 0 20px;
    font-size: 21px;
    font-weight: 600;
    /* color: #525452; */
    cursor: pointer;
    height: 100%;
    display: flex;
    align-items: center;
    text-decoration: none;
}

.navbar-link:hover {
    background-color: var(--color-accent);
    opacity: 0.9;
}

/* изменить названия классов чтобы работало */

/* Media Queries */
/* @media (max-width : 990px){
    .header-middle-search-box{
        width: 600px;
    }
}

@media (max-width : 920px){
    .header-middle-search-box{
        width: 450px;
    }

    .header-top-text{
        font-size: 17px;
    }
    .header-middle-logo {
        font-size: 17px;
        font-weight: 400;
    }
}

@media (max-width : 720px){
    .header-top-text{
        display: none;
    }
    .header-top-menu {
        display: block;
    }

    .header-middle {
        flex-wrap: wrap;
        padding: 0 30px;
        height: 80%;
    }

    .header-middle-search-box{
        width: 100%;
    }

    .header-middle-logo {
        display: none;
    }

    .navbar {
        position: fixed;
        top: 50px;
        left:-300px;
        width: 300px;
        height: 100vh;
        align-items: flex-start;
        z-index: 999;
        transition: all 1s ease;
    }

    .navbar-links{
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;
        height: max-content;
        width: 100%;
    }

    .navbar-link{
        width: 100%;
        padding: 20px;
    }
}

@media (max-width : 520px){
    .header-top {
        padding: 0 15px;
    }
    .header-middle{
        padding: 0 15px;
    }

    .header-top-phone {
        font-size: 20px;
    }
}
 */
