* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    outline: none;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}


ul {
    list-style: none;
}

a {
    text-decoration: none;
    color: var(--color-text-default);
}

button {
    outline: 0;
    border: none;
    font-family: inherit;
    background-color: transparent;
    cursor: pointer;
}

img {
    /* width: 100%; */
    display: block;
}


input :focus {
    outline: none;
}


:root {
    --color-background: #aab4be;
    --color-border: #cacfd5;
    --color-text-default: #0b1016;
    --color-base: #f4f5f6;
    --color-accent: #ba0d37;
    --color-button: #4e3e54;
    --main-color: #ece4e4;
    --color-background-dark: #38444c;
    --color-border-dark: #697278;
    --color-text-default-dark: #f0f2f3;
    --color-base-dark: #293238;
    --color-accent-dark: #ec1a62;
}

body {
    font-size: 1.6rem;
    line-height: 1.7;
    /* color: var(--color-text-default); */
 }


/* @media (prefers-color-scheme: dark) {
    :root {
        --color-background: #38444c;
        --color-border: #697278;
        --color-text-default: #f0f2f3;
        --color-base: #293238;
        --color-accent: #ec1a62;
    }
} */